<app-header></app-header><div class="bg-custom">
  <mat-card class="card">
    <mat-card-header style="text-align:right;margin:30px;">
      <h1>  با ما در ارتباط باشید </h1>
    </mat-card-header>
    <mat-card-content class="card-content">
      <div class="container row justify-content-center ">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1  col-md-4  ">
          <form (ngSubmit)="onSubmit()" #f="ngForm">
            <div class="form-group">
              <input type="text"
                     id="username"
                     class="form-control"
                     ngModel
                     name="username"
                     required
                     placeholder="نام و نام خانوادگی">
            </div>

            <div class="form-group">
              <input type="text"
                     id="subject"
                     class="form-control"
                     ngModel
                     name="subject"
                     required
                     placeholder="عنوان ">
            </div>


          </form>
        </div>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1  col-md-4 ">
          <form (ngSubmit)="onSubmit()" #f="ngForm">
            <div class="form-group">
              <input type="text"
                     id="username"
                     class="form-control"
                     ngModel
                     name="username"
                     required
                     placeholder="نام و نام خانوادگی">
            </div>

            <div class="form-group">
              <input type="text"
                     id="subject"
                     class="form-control"
                     ngModel
                     name="subject"
                     required
                     placeholder="عنوان ">
            </div>
          </form>
        </div>
        <hr style="width:80%; " />
      </div>

    </mat-card-content>
    <mat-card-actions style="direction:ltr;">
  <button mat-raised-button class="btn-info bg-info "><b>ادامه مطلب    </b> </button>

</mat-card-actions>
  </mat-card>

</div>
<app-footer></app-footer>
