.bg-custom {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-image: url('../../assets/img/bg-custom.jpg');
  display: block;
  direction: rtl;
  padding-top: 2rem;

}

.card {
  margin:auto;
  max-width: 70%;
  height:60%;  
}
