<div class="text-center container-fluid footer justify-content-center">
    <div class="row">
      <div class="col-md-4 ">
          <img src="https://karpaye.com/web/img/logo-samandehii.png"  style="cursor:pointer;width:60px; height:60px;">
          <img src="https://karpaye.com/web/img/logo-enamad.png"   style="cursor:pointer;width:60px; height:60px;">
          <a ><img  src="https://karpaye.com/web/img/sazman-senfi.jpg"  style="cursor:pointer;width:60px; height:60px;"></a>
          <a ><img src="https://karpaye.com/web/img/logo-anjoman.png" style="cursor:pointer;width:60px; height:60px;"></a>
          <img src="https://karpaye.com/web/img/namad.png"  style="cursor:pointer;width:60px; height:60px;">
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 d-none d-sm-block ">
        <span >تمام حقوق این سایت مطلق به <b>کارپایه </b>است </span><br>
        <span><b>karpaye</b></span>
      </div>
      <div class="col-md-4  col-sm-12 col-xs-12  d-none  d-sm-none d-md-block" style="direction:rtl">
        <ul class="nav navbar ">
          <li role="presentation" class="nav-link active nav-l-active"><a href="https://karpaye.com">خانه</a></li>
          <li role="presentation" class="nav-link"><a href="https://karpaye.com/faq">سوالات متداول</a></li>
          <li role="presentation" class="nav-link"><a href="https://karpaye.com/articles">مقالات</a></li>
          <li role="presentation" class="nav-link"><a href="https://karpaye.com/rule">قوانین</a></li>
          <li role="presentation"  class="nav-link"><a href="https://karpaye.com/complaint.html">ثیت شکایات</a></li>
          <li role="presentation"  class="nav-link"><a href="https://karpaye.com/about">درباره ما</a></li>
          <li role="presentation" class="nav-link"><a href="https://karpaye.com/contact">تماس با ما</a></li>
        </ul>
      </div>
    </div>
</div>
