.footer{
  padding:20px;

  }
.nav-link {
  display: block;
  padding: 0.2rem;
  color: #8e8d8d;
  font-size: 13px;
  height: 30px;
  text-decoration:none;
}
   .nav-l-active{
     background-color:Highlight;
     border-radius:3px;
   }
.nav-link:hover, .nav-link:focus {
  text-decoration:none;
  color: #6eb6fb;
}

