.content{
background-color:#f2fcfc;
padding-top:20px;
font-family:'B Yekan'}
.head {
  font-size: 20px;
  color: #8e8d8d;
  border-bottom: 2px dotted #8e8d8d;
  padding-bottom: 5px;
  text-align: center
}
.center {
  display: block;
  text-align: center;
}
.card {
  max-width: 400px;
}

.card-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.card-content {
  padding: 10px;
  text-align: justify;
}
.card-content p {

  overflow-y: hidden;
  max-height: 150px;
  line-height: 2rem;
  font-family: 'B Yekan';
  direction: rtl;
  font-size: 14px;
  color: #727272;
}

.card-content-title  {
  margin-bottom: 0.25rem !important;
  text-align: center;
  margin-top: 1.2rem;
 color: #0094ff
}

mat-card{
  width:350px
}
