<app-header></app-header>


<div class="content">
  <div class="container " style="text-align:center">
    <div class="center">
      <span class="head justify-content-center align-self-center  col-md-7 ">  مقالات <br /><br /></span>
    </div>
    <div class="row " style="margin:auto;">

      <div class="col-md-4 col-sm-12">
        <mat-card class="card">
          <mat-card-header class="justify-content-center">

          </mat-card-header>
          <img mat-card-image src="https://karpaye.com/uploads/153466072826.jpg" class="img-responsive" alt="Photo of a Shiba Inu">
          <mat-card-content class="card-content">
            <p class="card-content-title" style="color:#0094ff">شغل نیمه وقت </p>
            <p>
              &nbsp;
              &nbsp;

              شغل نیمه وقت :

              کاره نیمه وقت برای کسانی که بنا به شرایط زندگی خود امکان کار تمام وقت را ندارند

              می تواند گزینه مناسبی باشد ولی در عین حال مزایا و حتی معایب خاص خود را&nbsp; دارند.

              &nbsp;

              تعریف از کار نیمه وقت :

              کاری که ساعت انجام آن از کارتمام وقت کمتر بوده و تبع آن حقوق و مزایای این نوع شغل نیز متناسب با زمان کاری است که انجام می گیرد.

              &nbsp;

              مزایای کار نیمه وقت

              &nbsp;انعطاف‌پذیری زمانی از جمله اصلی‌ترین مزایای کار پاره‌ وقت (نیمه‌ وقت) است. برای کسانی که به هر علت نمی‌توانند یا نمی‌خواهند به صورت تمام‌وقت استخدام شوند و از روال عادی ساعات کاری سازمان‌ها پیروی کنند، این گزینه راهی نجات‌بخش برای داشتن درآمداست..&nbsp;


            </p>
            <div style="padding-bottom: 10px;font-size:25px ;color:#0094ff;text-align:center">...</div>
          </mat-card-content>
          <mat-card-actions class="text-center">
            <button mat-raised-button class="btn-info bg-info "><b>ادامه مطلب    </b> </button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="col-md-4 col-sm-12  ">
        <mat-card class="card">
          <mat-card-header class="justify-content-center">

          </mat-card-header>
          <img mat-card-image src="https://karpaye.com/uploads/153466072826.jpg" class="img-responsive" alt="Photo of a Shiba Inu">
          <mat-card-content class="card-content">
            <p class="card-content-title" style="color:#0094ff">شغل نیمه وقت </p>
            <p>
              &nbsp;

              &nbsp;

              شغل نیمه وقت :

              کاره نیمه وقت برای کسانی که بنا به شرایط زندگی خود امکان کار تمام وقت را ندارند

              می تواند گزینه مناسبی باشد ولی در عین حال مزایا و حتی معایب خاص خود را&nbsp; دارند.

              &nbsp;

              تعریف از کار نیمه وقت :

              کاری که ساعت انجام آن از کارتمام وقت کمتر بوده و تبع آن حقوق و مزایای این نوع شغل نیز متناسب با زمان کاری است که انجام می گیرد.

              &nbsp;

              مزایای کار نیمه وقت

              &nbsp;انعطاف‌پذیری زمانی از جمله اصلی‌ترین مزایای کار پاره‌ وقت (نیمه‌ وقت) است. برای کسانی که به هر علت نمی‌توانند یا نمی‌خواهند به صورت تمام‌وقت استخدام شوند و از روال عادی ساعات کاری سازمان‌ها پیروی کنند، این گزینه راهی نجات‌بخش برای داشتن درآمداست..&nbsp;


            </p>
            <div style="padding-bottom: 10px;font-size:25px ;color:#0094ff;text-align:center">...</div>
          </mat-card-content>
          <mat-card-actions class="text-center">
            <button mat-raised-button class="btn-info bg-info "><b>ادامه مطلب    </b> </button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="col-md-4 col-sm-12  ">
        <mat-card class="card">
          <mat-card-header class="justify-content-center">

          </mat-card-header>
          <img mat-card-image src="https://karpaye.com/uploads/153466072826.jpg" class="img-responsive" alt="Photo of a Shiba Inu">
          <mat-card-content class="card-content">
            <p class="card-content-title" style="color:#0094ff">شغل نیمه وقت </p>
            <p>
              &nbsp;

              &nbsp;

              شغل نیمه وقت :

              کاره نیمه وقت برای کسانی که بنا به شرایط زندگی خود امکان کار تمام وقت را ندارند

              می تواند گزینه مناسبی باشد ولی در عین حال مزایا و حتی معایب خاص خود را&nbsp; دارند.

              &nbsp;

              تعریف از کار نیمه وقت :

              کاری که ساعت انجام آن از کارتمام وقت کمتر بوده و تبع آن حقوق و مزایای این نوع شغل نیز متناسب با زمان کاری است که انجام می گیرد.

              &nbsp;

              مزایای کار نیمه وقت

              &nbsp;انعطاف‌پذیری زمانی از جمله اصلی‌ترین مزایای کار پاره‌ وقت (نیمه‌ وقت) است. برای کسانی که به هر علت نمی‌توانند یا نمی‌خواهند به صورت تمام‌وقت استخدام شوند و از روال عادی ساعات کاری سازمان‌ها پیروی کنند، این گزینه راهی نجات‌بخش برای داشتن درآمداست..&nbsp;


            </p>
            <div style="padding-bottom: 10px;font-size:25px ;color:#0094ff;text-align:center">...</div>
          </mat-card-content>
          <mat-card-actions class="text-center">
            <button mat-raised-button class="btn-info bg-info "><b>ادامه مطلب    </b> </button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="col-md-4 col-sm-12  ">
        <mat-card class="card">
          <mat-card-header class="justify-content-center">

          </mat-card-header>
          <img mat-card-image src="https://karpaye.com/uploads/153466072826.jpg" class="img-responsive" alt="Photo of a Shiba Inu">
          <mat-card-content class="card-content">
            <p class="card-content-title" style="color:#0094ff">شغل نیمه وقت </p>
            <p>
              &nbsp;

              &nbsp;

              شغل نیمه وقت :

              کاره نیمه وقت برای کسانی که بنا به شرایط زندگی خود امکان کار تمام وقت را ندارند

              می تواند گزینه مناسبی باشد ولی در عین حال مزایا و حتی معایب خاص خود را&nbsp; دارند.

              &nbsp;

              تعریف از کار نیمه وقت :

              کاری که ساعت انجام آن از کارتمام وقت کمتر بوده و تبع آن حقوق و مزایای این نوع شغل نیز متناسب با زمان کاری است که انجام می گیرد.

              &nbsp;

              مزایای کار نیمه وقت

              &nbsp;انعطاف‌پذیری زمانی از جمله اصلی‌ترین مزایای کار پاره‌ وقت (نیمه‌ وقت) است. برای کسانی که به هر علت نمی‌توانند یا نمی‌خواهند به صورت تمام‌وقت استخدام شوند و از روال عادی ساعات کاری سازمان‌ها پیروی کنند، این گزینه راهی نجات‌بخش برای داشتن درآمداست..&nbsp;


            </p>
            <div style="padding-bottom: 10px;font-size:25px ;color:#0094ff;text-align:center">...</div>
          </mat-card-content>
          <mat-card-actions class="text-center">
            <button mat-raised-button class="btn-info bg-info "><b>ادامه مطلب    </b> </button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="col-md-4 col-sm-12  ">
        <mat-card class="card">
          <mat-card-header class="justify-content-center">

          </mat-card-header>
          <img mat-card-image src="https://karpaye.com/uploads/153466072826.jpg" class="img-responsive" alt="Photo of a Shiba Inu">
          <mat-card-content class="card-content">
            <p class="card-content-title" style="color:#0094ff">شغل نیمه وقت </p>
            <p>
              &nbsp;

              &nbsp;

              شغل نیمه وقت :

              کاره نیمه وقت برای کسانی که بنا به شرایط زندگی خود امکان کار تمام وقت را ندارند

              می تواند گزینه مناسبی باشد ولی در عین حال مزایا و حتی معایب خاص خود را&nbsp; دارند.

              &nbsp;

              تعریف از کار نیمه وقت :

              کاری که ساعت انجام آن از کارتمام وقت کمتر بوده و تبع آن حقوق و مزایای این نوع شغل نیز متناسب با زمان کاری است که انجام می گیرد.

              &nbsp;

              مزایای کار نیمه وقت

              &nbsp;انعطاف‌پذیری زمانی از جمله اصلی‌ترین مزایای کار پاره‌ وقت (نیمه‌ وقت) است. برای کسانی که به هر علت نمی‌توانند یا نمی‌خواهند به صورت تمام‌وقت استخدام شوند و از روال عادی ساعات کاری سازمان‌ها پیروی کنند، این گزینه راهی نجات‌بخش برای داشتن درآمداست..&nbsp;


            </p>
            <div style="padding-bottom: 10px;font-size:25px ;color:#0094ff;text-align:center">...</div>
          </mat-card-content>
          <mat-card-actions class="text-center">
            <button mat-raised-button class="btn-info bg-info "><b>ادامه مطلب    </b> </button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="col-md-4 col-sm-12  ">
        <mat-card class="card">
          <mat-card-header class="justify-content-center">

          </mat-card-header>
          <img mat-card-image src="https://karpaye.com/uploads/153466072826.jpg" class="img-responsive" alt="Photo of a Shiba Inu">
          <mat-card-content class="card-content">
            <p class="card-content-title" style="color:#0094ff">شغل نیمه وقت </p>
            <p>
              &nbsp;

              &nbsp;

              شغل نیمه وقت :

              کاره نیمه وقت برای کسانی که بنا به شرایط زندگی خود امکان کار تمام وقت را ندارند

              می تواند گزینه مناسبی باشد ولی در عین حال مزایا و حتی معایب خاص خود را&nbsp; دارند.

              &nbsp;

              تعریف از کار نیمه وقت :

              کاری که ساعت انجام آن از کارتمام وقت کمتر بوده و تبع آن حقوق و مزایای این نوع شغل نیز متناسب با زمان کاری است که انجام می گیرد.

              &nbsp;

              مزایای کار نیمه وقت

              &nbsp;انعطاف‌پذیری زمانی از جمله اصلی‌ترین مزایای کار پاره‌ وقت (نیمه‌ وقت) است. برای کسانی که به هر علت نمی‌توانند یا نمی‌خواهند به صورت تمام‌وقت استخدام شوند و از روال عادی ساعات کاری سازمان‌ها پیروی کنند، این گزینه راهی نجات‌بخش برای داشتن درآمداست..&nbsp;


            </p>
            <div style="padding-bottom: 10px;font-size:25px ;color:#0094ff;text-align:center">...</div>
          </mat-card-content>
          <mat-card-actions class="text-center">
            <button mat-raised-button class="btn-info bg-info "><b>ادامه مطلب    </b> </button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="col-md-4 col-sm-12  ">
        <mat-card class="card">
          <mat-card-header class="justify-content-center">
          </mat-card-header>
          <img mat-card-image src="https://karpaye.com/uploads/153466072826.jpg" class="img-responsive" alt="Photo of a Shiba Inu">
          <mat-card-content class="card-content">
            <p class="card-content-title" style="color:#0094ff">شغل نیمه وقت </p>
            <p>
              &nbsp;

              &nbsp;

              شغل نیمه وقت :

              کاره نیمه وقت برای کسانی که بنا به شرایط زندگی خود امکان کار تمام وقت را ندارند

              می تواند گزینه مناسبی باشد ولی در عین حال مزایا و حتی معایب خاص خود را&nbsp; دارند.

              &nbsp;

              تعریف از کار نیمه وقت :

              کاری که ساعت انجام آن از کارتمام وقت کمتر بوده و تبع آن حقوق و مزایای این نوع شغل نیز متناسب با زمان کاری است که انجام می گیرد.

              &nbsp;

              مزایای کار نیمه وقت

              &nbsp;انعطاف‌پذیری زمانی از جمله اصلی‌ترین مزایای کار پاره‌ وقت (نیمه‌ وقت) است. برای کسانی که به هر علت نمی‌توانند یا نمی‌خواهند به صورت تمام‌وقت استخدام شوند و از روال عادی ساعات کاری سازمان‌ها پیروی کنند، این گزینه راهی نجات‌بخش برای داشتن درآمداست..&nbsp;


            </p>
            <div style="padding-bottom: 10px;font-size:25px ;color:#0094ff;text-align:center">...</div>
          </mat-card-content>
          <mat-card-actions class="text-center">
            <button mat-raised-button class="btn-info bg-info "><b>ادامه مطلب    </b> </button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="col-md-4 col-sm-12  ">
        <mat-card class="card">
          <mat-card-header class="justify-content-center">

          </mat-card-header>
          <img mat-card-image src="https://karpaye.com/uploads/153466072826.jpg" class="img-responsive" alt="Photo of a Shiba Inu">
          <mat-card-content class="card-content">
            <p class="card-content-title" style="color:#0094ff">شغل نیمه وقت </p>
            <p>
              &nbsp;

              &nbsp;

              شغل نیمه وقت :

              کاره نیمه وقت برای کسانی که بنا به شرایط زندگی خود امکان کار تمام وقت را ندارند

              می تواند گزینه مناسبی باشد ولی در عین حال مزایا و حتی معایب خاص خود را&nbsp; دارند.

              &nbsp;

              تعریف از کار نیمه وقت :

              کاری که ساعت انجام آن از کارتمام وقت کمتر بوده و تبع آن حقوق و مزایای این نوع شغل نیز متناسب با زمان کاری است که انجام می گیرد.

              &nbsp;

              مزایای کار نیمه وقت

              &nbsp;انعطاف‌پذیری زمانی از جمله اصلی‌ترین مزایای کار پاره‌ وقت (نیمه‌ وقت) است. برای کسانی که به هر علت نمی‌توانند یا نمی‌خواهند به صورت تمام‌وقت استخدام شوند و از روال عادی ساعات کاری سازمان‌ها پیروی کنند، این گزینه راهی نجات‌بخش برای داشتن درآمداست..&nbsp;


            </p>
            <div style="padding-bottom: 10px;font-size:25px ;color:#0094ff;text-align:center">...</div>
          </mat-card-content>
          <mat-card-actions class="text-center">
            <button mat-raised-button class="btn-info bg-info "><b>ادامه مطلب    </b> </button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="col-md-4 col-sm-12  ">
        <mat-card class="card">
          <mat-card-header class="justify-content-center">

          </mat-card-header>
          <img mat-card-image src="https://karpaye.com/uploads/153466072826.jpg" class="img-responsive" alt="Photo of a Shiba Inu">
          <mat-card-content class="card-content">
            <p class="card-content-title" style="color:#0094ff">شغل نیمه وقت </p>
            <p>
              &nbsp;

              &nbsp;

              شغل نیمه وقت :

              کاره نیمه وقت برای کسانی که بنا به شرایط زندگی خود امکان کار تمام وقت را ندارند

              می تواند گزینه مناسبی باشد ولی در عین حال مزایا و حتی معایب خاص خود را&nbsp; دارند.

              &nbsp;

              تعریف از کار نیمه وقت :

              کاری که ساعت انجام آن از کارتمام وقت کمتر بوده و تبع آن حقوق و مزایای این نوع شغل نیز متناسب با زمان کاری است که انجام می گیرد.

              &nbsp;

              مزایای کار نیمه وقت

              &nbsp;انعطاف‌پذیری زمانی از جمله اصلی‌ترین مزایای کار پاره‌ وقت (نیمه‌ وقت) است. برای کسانی که به هر علت نمی‌توانند یا نمی‌خواهند به صورت تمام‌وقت استخدام شوند و از روال عادی ساعات کاری سازمان‌ها پیروی کنند، این گزینه راهی نجات‌بخش برای داشتن درآمداست..&nbsp;


            </p>
            <div style="padding-bottom: 10px;font-size:25px ;color:#0094ff;text-align:center">...</div>
          </mat-card-content>
          <mat-card-actions class="text-center">
            <button mat-raised-button class="btn-info bg-info "><b>ادامه مطلب    </b> </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>
