.bg-custom{
  background-image:url(.../../assets/img/Light-Color-Curves-Wallpaper.jpg);
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  }.round-tab {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  border: 2px solid #e0e0e0;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}

li {
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background: dodgerblue;
  margin: 0 1em;
  display: inline-block;
  color: white;
  position: relative;
}
li::before {
  content: '';
  position: absolute;
  top: .9em;
  left: -4em;
  width: 4em;
  height: .2em;
  background: dodgerblue;
  z-index: -1;
}
li:first-child::before {
  display: none;
}
.active {
  background: dodgerblue;
}
.active ~ li {
  background: lightblue;
}
.active ~ li::before {
  background: lightblue;
}
body {
  font-family: sans-serif;
  padding: 2em;
}
