<app-header></app-header>
<div class="bg-custom">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <button mat-button> ثبت نام </button>
      </mat-card-title>
      <span class="round-tab">
        <i class="glyphicon glyphicon-ok"></i>
      </span>
      <ul>
        <li>
          <span class="round-tab">
            <i class="glyphicon glyphicon-phone "></i>
          </span>
        </li>
        <li>
          <span class="round-tab">
            <i class="glyphicon glyphicon-envelope"></i>
          </span>
        </li>
        <li>
          <span class="round-tab">
            <i class="glyphicon glyphicon-user"></i>
          </span>
        </li>
        <li>
          <span class="round-tab">
            <i class="glyphicon glyphicon-info-sign"></i>
          </span>
        </li>
      </ul>
      <hr />
    </mat-card-header>

    <mat-card-content>
      <div class="row" style="display:block;">
        <div style="margin:auto ; font-family:Shabnam;font-size:19px;font-weight:100;">
          شماره تلفن همراه خود را وارد کنید
        </div>
        <div style="margin:auto ; font-family:Shabnam;font-size:15px;font-weight:100;"> </div>
        . یک کد چهار رقمی برای شما ارسال می گردد.
      </div>
      <div style="margin:auto ; font-family:Shabnam;"> <input type="number" class="form-control" name="phoneNumber" placeholder="09XXXXXXXXX" /></div>
      <div style="margin:auto ; font-family:Shabnam;">   <button mat-button> ثبت نام </button></div>
    </mat-card-content>
  </mat-card>
</div>
<app-footer></app-footer>
