<nav class="navbar navbar-expand-lg   bg-custom " >
  <button class="navbar-toggler direction-rtl " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon "></span>
  </button>
  <div class="collapse navbar-collapse  " id="navbarNav" style="direction:rtl;text-align:center">
    <ul class="navbar-nav float-right flex  ">
      <li class="nav-item active   " routerLinkActive="active">
        <a class="nav_link" routerLink="/homepage" >  خانه </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav_link" routerLink="/questions"> سوالات متداول  </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav_link" routerLink="/articles"> مقالات  </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav_link" routerLink="/law"> قوانین </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav_link" routerLink="/complaints"> ثبت شکایات  </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav_link" routerLink="/aboutus"> در باره ما  </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav_link" routerLink="/contactus"> تماس با ما  </a>
      </li>
    </ul>
  </div>
</nav>
