<app-header></app-header>
<div class="content">
  <div class="container " style="text-align:center;direction:rtl">
    <div class="center">
      <span class="head justify-content-center align-self-center  col-md-7 ">  انتقادات و شکایات  <br /><br /></span>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <p style="text-align:justify">
          مشترک گرامی،
          شما می توانید انتقادات، پیشنهادات و شکایات خود را از طریق فرم زیر با ما در میان بگذارید:
          مطمئن باشید ما همه‌ی شکایت‌های شما را بررسی کرده و در صورت وارد بودن شکایت، حتما اقدامات لازم را انجام خواهیم داد.
          همچنین می توانید انتقادات و پیشنهادات خود را به آدرس ایمیل Support@karpaye.com ارسال نمایید.
        </p>
      </div>
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form (ngSubmit)="onSubmit()" #f="ngForm">
          <div class="form-group">
            <input type="text"
                   id="username"
                   class="form-control"
                   ngModel
                   name="username"
                   required
                   placeholder="نام و نام خانوادگی">
          </div>

          <div class="form-group">
            <input type="text"
                   id="subject"
                   class="form-control"
                   ngModel
                   name="subject"
                   required
                   placeholder="عنوان ">
          </div>
          <div class="form-group">
            <input type="email"
                   id="email"
                   class="form-control"
                   ngModel
                   name="email"
                   required
                   email
                   #email="ngModel"
                   placeholder="پست الکترونیک ">
            <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>

          </div>  <div class="form-group">
            <textarea name="description"
                      rows="3"
                      class="form-control"
                      placeholder="توضیحات "></textarea>
          </div>
          <button class="btn btn-primary"
                  type="button">
            ارسال اطلاعات
          </button>
        </form>
      </div>
    </div>

  </div>
  </div>
<app-footer></app-footer>
