
.nav_link {
  display: block;
  padding: 0.5rem;
  color: #8e8d8d;
  font-size: 13px;
  height: 30px;
  text-decoration: none;
}

.nav_link:hover, .nav_link:focus {
  text-decoration: none;
  color: #6eb6fb;
}

@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/mixins/grid";
@import "../../../node_modules/bootstrap/scss/bootstrap-grid";

.bg-custom {
  background-color: #494747;
  color: #e6e4e4;

  @include media-breakpoint-up(sm) {
    background-color: #e6e4e4;
    color: #494747;
  }
}

