<nav class="navbar navbar-expand-lg bg-custom ">
  <button class="navbar-toggler direction-rtl " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon "></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" style="direction:rtl;text-align:center">
    <ul class="navbar-nav float-right flex  ">
      <li class="nav-item" routerLinkActive="active">
        <div class="row" style="width:400px;">
          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 ">
            <a class="btn btn-md " routerLink="/register"><i class="fa fa-user-plus"></i> ثبت نام متخصص</a>
            <div class="flashit-register mt-2">
              <a href="https://karpaye.com/register" *ngIf="showMessage ">
                <div >
                  <i class="fa fa-th icon-primary fa-2x"></i>
                </div>
                <p class="text-center" >اگر دنبال کـار هستی<br> کلیک کن</p>
              </a>
            </div>
          </div>
          <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12 " style="height:110px">
           


            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#col1" class="shadow" aria-expanded="false" *ngIf="showMessage ">
                      <img src="https://karpaye.com/web/img/apps.png" class="img-responsive inline-img mr-4 mt-2">
                      <span class="flashit btn-right"> دانلود اپلیکیشن</span>
                    </a>
                  </h4>
                </div>
                <div id="col1" class="panel-collapse collapse">
                  <div class="panel-body" style="background-color:#313d6f">

                  </div>
                </div>
              </div>
            </div>



























          </div>
        </div>
      </li>
      <li class="nav-item d-md-none " routerLinkActive="active">
        <a class="nav_link" routerLink="/homepage">  خانه </a>
      </li>
      <li class="nav-item d-md-none " routerLinkActive="active">
        <a class="nav_link" routerLink="/questions"> سوالات متداول  </a>
      </li>
      <li class="nav-item d-md-none " routerLinkActive="active">
        <a class="nav_link" routerLink="/articles"> مقالات  </a>
      </li>
      <li class="nav-item d-md-none " routerLinkActive="active">
        <a class="nav_link" routerLink="/law"> قوانین </a>
      </li>
      <li class="nav-item d-md-none " routerLinkActive="active">
        <a class="nav_link" routerLink="/complaints"> ثبت شکایات  </a>
      </li>
      <li class="nav-item d-md-none " routerLinkActive="active">
        <a class="nav_link" routerLink="/aboutus"> در باره ما  </a>
      </li>
      <li class="nav-item d-md-none " routerLinkActive="active">
        <a class="nav_link" routerLink="/contactus"> تماس با ما  </a>
      </li>
    </ul>
  </div>
</nav>














