<div class="container-fluid content pad-10">
  <div class="row ">
    <div class="col-lg-5 col-md-5 col-sm-12 " style="margin:10px">
      <img src="https://karpaye.com/web/img/karpaye-question.png" class="img-responsive">
    </div>
    <div class="col-lg-6 col-md-7 col-sm-12 pad-10">
      <h6 class="text-right pad-10"><i>سوالات متداول</i> </h6>
      <h6 class="text-right pad-10">پاسخ سوالات خود رادر این بخش میتوانید مشاهده نمایید </h6>

      <mat-accordion class="pad-10">
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"
                             class="text-right d-rtl ">
          <mat-expansion-panel-header class="bg-light">

            <mat-panel-description>
              <p class="f-yekan">چقدر طول می کشد تا پس از ثبت نام حساب تایید بشود</p>
            </mat-panel-description>
          </mat-expansion-panel-header><p class="f-yekan pad-10">
            در صورت صحت اطلاعات شما، حداکثر تا 24 ساعت بعد از ثبت نام، فعال خواهید شد .
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"
                             class="text-right d-rtl ">
          <mat-expansion-panel-header class="bg-light">

            <mat-panel-description>
              <p class="f-yekan">چقدر طول می کشد تا پس از ثبت نام حساب تایید بشود</p>
            </mat-panel-description>
          </mat-expansion-panel-header><p class="f-yekan pad-10">
            در صورت صحت اطلاعات شما، حداکثر تا 24 ساعت بعد از ثبت نام، فعال خواهید شد .
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"
                             class="text-right d-rtl ">
          <mat-expansion-panel-header class="bg-light">

            <mat-panel-description>
              <p class="f-yekan">چقدر طول می کشد تا پس از ثبت نام حساب تایید بشود</p>
            </mat-panel-description>
          </mat-expansion-panel-header><p class="f-yekan pad-10">
            در صورت صحت اطلاعات شما، حداکثر تا 24 ساعت بعد از ثبت نام، فعال خواهید شد .
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"
                             class="text-right d-rtl ">
          <mat-expansion-panel-header class="bg-light">

            <mat-panel-description>
              <p class="f-yekan">چقدر طول می کشد تا پس از ثبت نام حساب تایید بشود</p>
            </mat-panel-description>
          </mat-expansion-panel-header><p class="f-yekan pad-10">
            در صورت صحت اطلاعات شما، حداکثر تا 24 ساعت بعد از ثبت نام، فعال خواهید شد .
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"
                             class="text-right d-rtl ">
          <mat-expansion-panel-header class="bg-light">

            <mat-panel-description>
              <p class="f-yekan">چقدر طول می کشد تا پس از ثبت نام حساب تایید بشود</p>
            </mat-panel-description>
          </mat-expansion-panel-header><p class="f-yekan pad-10">
            در صورت صحت اطلاعات شما، حداکثر تا 24 ساعت بعد از ثبت نام، فعال خواهید شد .
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"
                             class="text-right d-rtl ">
          <mat-expansion-panel-header class="bg-light">

            <mat-panel-description>
              <p class="f-yekan">چقدر طول می کشد تا پس از ثبت نام حساب تایید بشود</p>
            </mat-panel-description>
          </mat-expansion-panel-header><p class="f-yekan pad-10">
            در صورت صحت اطلاعات شما، حداکثر تا 24 ساعت بعد از ثبت نام، فعال خواهید شد .
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"
                             class="text-right d-rtl ">
          <mat-expansion-panel-header class="bg-light">

            <mat-panel-description>
              <p class="f-yekan">چقدر طول می کشد تا پس از ثبت نام حساب تایید بشود</p>
            </mat-panel-description>
          </mat-expansion-panel-header><p class="f-yekan pad-10">
            در صورت صحت اطلاعات شما، حداکثر تا 24 ساعت بعد از ثبت نام، فعال خواهید شد .
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"
                             class="text-right d-rtl ">
          <mat-expansion-panel-header class="bg-light">

            <mat-panel-description>
              <p class="f-yekan">چقدر طول می کشد تا پس از ثبت نام حساب تایید بشود</p>
            </mat-panel-description>
          </mat-expansion-panel-header><p class="f-yekan pad-10">
            در صورت صحت اطلاعات شما، حداکثر تا 24 ساعت بعد از ثبت نام، فعال خواهید شد .
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"
                             class="text-right d-rtl ">
          <mat-expansion-panel-header class="bg-light">

            <mat-panel-description>
              <p class="f-yekan">چقدر طول می کشد تا پس از ثبت نام حساب تایید بشود</p>
            </mat-panel-description>
          </mat-expansion-panel-header><p class="f-yekan pad-10">
            در صورت صحت اطلاعات شما، حداکثر تا 24 ساعت بعد از ثبت نام، فعال خواهید شد .
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"
                             class="text-right d-rtl ">
          <mat-expansion-panel-header class="bg-light">

            <mat-panel-description>
              <p class="f-yekan">چقدر طول می کشد تا پس از ثبت نام حساب تایید بشود</p>
            </mat-panel-description>
          </mat-expansion-panel-header><p class="f-yekan pad-10">
            در صورت صحت اطلاعات شما، حداکثر تا 24 ساعت بعد از ثبت نام، فعال خواهید شد .
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"
                             class="text-right d-rtl ">
          <mat-expansion-panel-header class="bg-light">

            <mat-panel-description>
              <p class="f-yekan">چقدر طول می کشد تا پس از ثبت نام حساب تایید بشود</p>
            </mat-panel-description>
          </mat-expansion-panel-header><p class="f-yekan pad-10">
            در صورت صحت اطلاعات شما، حداکثر تا 24 ساعت بعد از ثبت نام، فعال خواهید شد .
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"
                             class="text-right d-rtl ">
          <mat-expansion-panel-header class="bg-light">

            <mat-panel-description>
              <p class="f-yekan">چقدر طول می کشد تا پس از ثبت نام حساب تایید بشود</p>
            </mat-panel-description>
          </mat-expansion-panel-header><p class="f-yekan pad-10">
            در صورت صحت اطلاعات شما، حداکثر تا 24 ساعت بعد از ثبت نام، فعال خواهید شد .
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>

