<app-home-header></app-home-header>

<div class="text-center" style="display:block;">
  <img src="https://karpaye.com/web/img/IMG_00652-12.jpg" class="img-responsive logo">
    <div>
      <p class="typed-text"> ‫سامانه ‫هوشمند ‫معرفی‬‬‬ ‫خدمات‬ ‫و ‫مشاغل‬‬</p>
    </div>
    <span class="typed"></span>
 
  <div class="row mb-5">
    <form style="margin:auto" id="search-form" action="https://karpaye.com/expert/search" method="get">
      <input type="hidden" name="_token" value="QXFW7Y0OoqGuflkOc0Sx9CN4UeM8cZiFUEhjZvbB">
      <div class="col-lg-8 col-sm-9 col-center">
        <input type="hidden" id="category_id" name="category_id">
        <input type="hidden" id="know_it_all" name="know_it_all" value="1">
        <input type="hidden" id="lat" name="lat" value="35.683780239791616">
        <input type="hidden" id="lng" name="lng" value="51.39534490456958">
        <input type="text" id="tags" name="text" class="form-control h-input mb-2 search field-id ui-autocomplete-input" placeholder="دنبال چه هستی؟ ( لوله کش، منشی، کارگر و ..." autocomplete="off">
      </div>
      <div class="col-md-12">
        <p>استفاده از خدمات کارپایه به هر نحوی به معنای موافقت با <a href="https://karpaye.com/rule" target="_blank"> قوانین </a> آن است </p>
        <button type="button" class="btn btn-primary btn-lg font-search verify-location mb-5" id="button-id">جستجو <i class="fa fa-search"></i></button><br>
        <button id="button1id" name="button1id" class="btn know-it-all-btn btn-success logo p-2 mt-5" style="background: transparent;"><img src="https://karpaye.com/web/img/Type10.png" class="img-responsive logo mt-5 mb-2 yavar p-2"></button>
        <a id="Tooltip-2" class="p-3 hidden-sm hidden-xs yavar-txt">یـاور کیست!؟</a>
      </div>

    </form>
  </div>
</div>
<app-footer></app-footer>
